  <div class="row" style="width:100%">
      <div class="row gap-4 justify-content-center mb-5" >
      <div class="card product-card" *ngFor="let item of PApiService.filteredProducts" [ngClass] = "{'bg-warning':item.Quantity == 1}" [ngClass] = "{'bg-danger':item.Quantity == 0}">
        <img [src]="item.Img" class="card-img-top product-image" alt="Fictional Product">
        <div class="card-body product-details">
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title product-title fs-4">{{item.Name}}</h4>
            <div class="text-primary fw-bold" [ngClass] = "{'text-secondary':item.Quantity == 0}">
            <ng-container [ngSwitch]="item.Quantity">
              <ng-container *ngSwitchCase="0">Out Of Stock</ng-container>
              <ng-container *ngSwitchCase="1">Last One</ng-container>
              <ng-container *ngSwitchCase="2">Last Two</ng-container>
              <ng-container *ngSwitchDefault>In Stock</ng-container>
            </ng-container>
          </div>
          </div>
          <div>Category Name: 
            <ng-container [ngSwitch]="item.CategoryID">
              <ng-container *ngSwitchCase="1">Vehicles</ng-container>
              <ng-container *ngSwitchCase="2">Headphones</ng-container>
              <ng-container *ngSwitchCase="3">Mobile & Tablet</ng-container>
              <ng-container *ngSwitchCase="4">Fashion</ng-container>
              <ng-container *ngSwitchCase="5">Electronics</ng-container>
            </ng-container>
          </div>
          <p class="card-text product-description">Quantity: {{item.Quantity}} <input class="count ms-3" type="number" value="1" #count>
          </p>
          <p class="card-text product-description"><span class="text-decoration-line-through">{{item.Price | currency :'EGP'}}</span> Discount :{{PServices.tenPercent}}</p>
          <p class="card-text product-price" [ngClass] = "{'text-secondary':item.Quantity == 0}">{{PServices.getDiscount(item.Price, 10)| currency :'EGP'}}</p>
          <div class="d-flex">
            <button class="btn btn-success buy-button me-3"[disabled]="item.Quantity==0" (click)="addToCard(item,count.value)">Buy Now</button>
          <a class="btn btn-success buy-button" [routerLink]="['/products',item.id]">More Details</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>


