.product-card {
    max-width: 300px;
    background-color: #f8f9fa;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .product-image {
    height: 200px;
    object-fit: cover;
  }
  .product-details {
    padding: 15px;
  }
  .product-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .product-description {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 15px;
  }
  .product-price {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
  }
  .buy-button {
    background-color: #39c;
    border: none;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
  }
  .count{
    width:50px;
    text-align: center;
    border-radius: 5px;
  }
