<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <img src="https://i.postimg.cc/BvKw80Bx/favicon.png" alt="Our Story" class="img-fluid">
        </div>
        <div class="col-lg-6">
            <h2 class="mb-4">About Us</h2>
            <p>Welcome to Your E-Commerce Store, your go-to destination for high-quality products. Our journey began with a passion for delivering the best products to our customers.</p>
            <p>We take pride in offering a wide range of products that cater to different tastes and preferences. From electronics to fashion, we have it all.</p>
            <p>Our commitment to customer satisfaction drives everything we do. We believe in creating seamless shopping experiences and providing excellent customer support.</p>
            <p>Join us on this exciting journey as we continue to expand our product offerings and enhance your online shopping experience.</p>
        </div>
    </div>
</div>