<style>
  .text-blue{
    color :#39c !important;
  }
  .cat{
    width:40px;
    padding-right: 30px !important;
    border-radius: 5px 0px 0px 5px!important;
  }
  input[type="number"]{
      width:90px !important;
      text-align:center;
      padding:0 0 0 10px;
  }
</style>


  <div class="container-fluid bg-light py-3 mb-5">
    <div class="row">
      <div class="col-6">
        <li class="input-group">
          <select name="Category" class="fs-5 cat bg-primary text-white" (change)="getProByCat(catId.value)" #catId>
            <option value="0">All</option>
            <option value="1">Vehicles</option>
            <option value="2">Headphones</option>
            <option value="3">Mobile & Tablet</option>
            <option value="4">Fashion</option>
            <option value="5">Electronics</option>
          </select>
          <input
            type="text"
            class="form-control fs-5"
            placeholder="search by product name"
            name="search" #search
          />
          <button
              class="btn btn-default bg-primary fs-5"
              type="submit" (click)="searchByName(search.value)"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f6f6f6" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
              <i
                class="fa-solid fa-magnifying-glass"
                style="color: #f6f6f6"
              ></i>
            </button>
        </li>
      </div>
    
    <div class="d-flex gap-1 col-4">
      <input type="number" class="input-min form-control" #min value="500">
      <span class="px-1 fs-5 fw-bold">:</span>
     <input type="number" class="input-max form-control" #max value="5000000">
        <button class="btn btn-primary" (click)="performFilterByPrice(min.value, max.value)">Apply</button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary form-control position-relative" routerLink="card">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg> Card
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{sizeOfCard}}
        </span>
      </button>
    </div>
    </div>
  </div>