<nav class="navbar navbar-expand-lg row text-center bg-light">
    <div class="container">
      <!-- Logo -->
      <img
        style="margin-right: 0; margin-left: 5%; margin-top: -15px"
        class="navbar-brand col-1"
        src="https://www.dubizzle.com.eg/assets/logo_noinline.feed3f3b6aa25ca2e3207a2fcdcc0b69.svg"
        alt=""
      />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse row" id="navbarSupportedContent">
        <ul
          class="navbar-nav me-auto mb-2 mb-lg-0 container row justify-content-center align-items-center"
        >
          <!-- Location -->
          <div class="col-5 col-md-5 col-lg-3">
            <div class="searchable-dropdown">
              <div class="search-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  class="fa-solid fa-location-dot search-icon"
                >
                  <path
                    d="M12 2c3.196 0 6 2.618 6 5.602 0 3.093-2.493 7.132-6 12.661-3.507-5.529-6-9.568-6-12.661 0-2.984 2.804-5.602 6-5.602m0-2c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"
                  />
                </svg>
                <input
                  type="text"
                  class="search-input form-control fs-4 ps-5"
                  placeholder="Search location..."
                  id="location-search"
                />
                <span class="fw-bolder fs-5 arrow"
                  ><i class="fa-solid fa-angle-up"></i
                ></span>
              </div>
              <ul class="options">
                <li
                  data-value="London"
                  class="d-flex justify-content-between"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                  >
                    <path
                      class="px-5"
                      d="M12 2c3.196 0 6 2.618 6 5.602 0 3.093-2.493 7.132-6 12.661-3.507-5.529-6-9.568-6-12.661 0-2.984 2.804-5.602 6-5.602m0-2c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"
                      style="fill: red"
                    />
                  </svg>
                  London
                </li>
                <li
                  data-value="Boston"
                  class="d-flex justify-content-between"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                  >
                    <path
                      d="M12 2c3.196 0 6 2.618 6 5.602 0 3.093-2.493 7.132-6 12.661-3.507-5.529-6-9.568-6-12.661 0-2.984 2.804-5.602 6-5.602m0-2c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"
                      style="fill: red"
                    />
                  </svg>
                  Boston
                </li>
                <li
                  data-value="Mumbai"
                  class="d-flex justify-content-between"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                  >
                    <path
                      d="M12 2c3.196 0 6 2.618 6 5.602 0 3.093-2.493 7.132-6 12.661-3.507-5.529-6-9.568-6-12.661 0-2.984 2.804-5.602 6-5.602m0-2c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"
                      style="fill: red"
                    />
                  </svg>
                  Mumbai
                </li>
                <li
                  data-value="New York"
                  class="d-flex justify-content-between"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                  >
                    <path
                      d="M12 2c3.196 0 6 2.618 6 5.602 0 3.093-2.493 7.132-6 12.661-3.507-5.529-6-9.568-6-12.661 0-2.984 2.804-5.602 6-5.602m0-2c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"
                      style="fill: red"
                    />
                  </svg>
                  New York
                </li>
                <li
                  data-value="Toronto"
                  class="d-flex justify-content-between"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                  >
                    <path
                      d="M12 2c3.196 0 6 2.618 6 5.602 0 3.093-2.493 7.132-6 12.661-3.507-5.529-6-9.568-6-12.661 0-2.984 2.804-5.602 6-5.602m0-2c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"
                      style="fill: red"
                    />
                  </svg>
                  Toronto
                </li>
                <li
                  data-value="Paris"
                  class="d-flex justify-content-between"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                  >
                    <path
                      d="M12 2c3.196 0 6 2.618 6 5.602 0 3.093-2.493 7.132-6 12.661-3.507-5.529-6-9.568-6-12.661 0-2.984 2.804-5.602 6-5.602m0-2c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"
                      style="fill: red"
                    />
                  </svg>
                  Paris
                </li>
                <!-- Add more location options if needed -->
              </ul>
            </div>
          </div>
          <!-- search -->
          <div class="col-7 col-md-7 col-lg-5">
            <li class="input-group">
              <input
                type="text"
                class="form-control fs-4"
                placeholder="Find Cars, Mobile Phones and more..."
                name="search"
              />
              <div class="input-group-btn">
                <button
                  class="btn btn-default bg-danger fs-4"
                  type="submit"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f6f6f6" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                  <i
                    class="fa-solid fa-magnifying-glass"
                    style="color: #f6f6f6"
                  ></i>
                </button>
              </div>
            </li>
          </div>
          <!-- language -->
          <li class="nav-item col-12 col-md-4 col-lg-1">
            <a
              class="nav-link active fw-bold fs-5 mx-2"
              aria-current="page"
              href="#"
              >العربية</a
            >
          </li>
          <!-- Login -->
          <li class="nav-item col-12 col-md-4 col-lg-1">
            <a
              class="nav-link active fw-bold fs-5 mx-2 login"
              aria-current="page"
              href="#"
              >Login</a
            >
          </li>
          <!-- Sell -->
          <li class="nav-item col-12 col-md-4 col-lg-1">
            <a
              class="btn btn-danger fw-bold px-5 fs-4"
              aria-current="page"
              href="#"
              ><span class="fs-6">Sell</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>