<div class="container-fluid" style="width: 100%;box-sizing: border-box;"> 
  <nav class="navbar navbar-expand-lg row text-center bg-secondary">

    <div class="container">
      <!-- Logo -->
      <img
        style="margin-right: 0; margin-left: 5%;"
        class="navbar-brand px-2"
        [src]="store.logo"
        alt="" height="50px" width="60px"
      /> <span class="fs-4 text-white">{{store.nameStore}}</span>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse row" id="navbarSupportedContent">
        <ul
          class="navbar-nav me-auto mb-2 mb-lg-0 container row justify-content-left align-items-center mx-5"
        >
        <li
      class="nav-item col-12 col-md-4 col-lg-2 text-white"
      routerLinkActive="fs-5 fw-bold text-blue"
      routerLink="home"
      role="button"
      >Home</li
    >
    <li
      class="nav-item col-12 col-md-4 col-lg-2 text-white"
      role="button"
      routerLinkActive="fs-5 fw-bold text-blue"
      routerLink="products"
      >All Products</li
    >
    <li *ngIf="isAdminLoggedIn"
    class="nav-item col-12 col-md-4 col-lg-2 text-white"
    role="button"
    routerLinkActive="fs-5 fw-bold text-blue"
    routerLink="admin/addProduct"
    >Add Product</li
  >
    <li *ngIf="!isAdminLoggedIn"
      class="nav-item col-12 col-md-4 col-lg-2 text-white"
      role="button"
      routerLinkActive="fs-5 fw-bold text-blue"
      routerLink="contact"
      >Contact US
      </li>
    <li
      class="nav-item col-12 col-md-4 col-lg-2 text-white"
      role="button"
      routerLinkActive="fs-5 fw-bold text-blue"
      routerLink="about"
      >About Us
    </li>
          
          <!-- buy -->
          <!-- <li class="nav-item col-12 col-md-4 col-lg-1">
            <a
              class="btn btn-primary fw-bold px-3 fs-5"
              aria-current="page"
              href="#"
              >
              <span class="fs-6">Buy</span></a
            >
          </li> -->
          <!-- Register -->
          <li class="nav-item col-12 col-md-4 col-lg-1  me-4" [hidden]="isUserLogged">
            <a routerLink="user/register"
              class="btn btn-primary fw-bold px-3 fs-5"
              aria-current="page"
              ><span class="fs-6" >Register</span></a
            >
          </li>
          <!-- Log In -->
          <li class="nav-item col-12 col-md-4 col-lg-2" style="text-align : start;" [hidden]="isUserLogged">
            <a
            routerLink="user/login"
              class="btn btn-primary fw-bold px-3 fs-5"
              aria-current="page"
              ><span class="fs-6">Log In</span></a
            >
          </li>
          <!-- profile -->
          <li class="nav-item col-12 col-md-4 col-lg-1" style="text-align : start;" [hidden]="!isUserLogged">
            <a
            routerLink="user/profile"
              class="btn btn-primary fw-bold px-3 fs-5"
              aria-current="page"
              ><span class="fs-6">Profile</span></a
            >
          </li>
          <!-- Log Out -->
          <li class="nav-item col-12 col-md-4 col-lg-2" style="text-align : start;" [hidden]="!isUserLogged||!isAdminLoggedIn">
            <a
            routerLink="logout"
              class="btn btn-primary fw-bold px-3 fs-5"
              aria-current="page"
              ><span class="fs-6">Log Out</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>