<div class="d-flex flex-column border-bottom">
    <a href="#" class="text-decoration-none text-dark fw-bold fs-4"
      >Cars for Sale</a
    >
    <a href="#" class="text-decoration-none text-dark fw-bold font_size"
      >Filters</a
    >
  </div>
  <div class="d-flex flex-column border-bottom">
    <div href="#" class="fw-bold">CATEGORIES</div>
    <a href="#" class="text-decoration-none text-black fs-6"
      >All categories</a
    >
    <a href="#" class="text-decoration-none font_size">Vehicles</a>
    <a href="#" class="text-decoration-none text-dark fw-bold font_size"
      >Cars for Sale</a
    >
    <a href="#" class="text-decoration-none font_size">Cars for Rent</a>
    <a href="#" class="text-decoration-none font_size"
      >Tyres, Batteries, Oils, & Accessories</a
    >
    <a href="#" class="text-decoration-none font_size">Car Spare Parts</a>
    <a href="#" class="text-decoration-none font_size"
      >Motorcycles & Accessories</a
    >
    <a href="#" class="text-decoration-none font_size"
      >Boats - Watercraft</a
    >
    <a href="#" class="text-decoration-none font_size"
      >Heavy Trucks, Buses & Other Vehicles</a
    >
  </div>
  <div class="d-flex flex-column">
    <div href="#" class="fw-bold">LOCATIONS</div>
    <div>
      <div class="searchable-dropdown">
        <div class="search-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            class="fa-solid fa-location-dot search-icon"
          >
            <path
              d="M12 2c3.196 0 6 2.618 6 5.602 0 3.093-2.493 7.132-6 12.661-3.507-5.529-6-9.568-6-12.661 0-2.984 2.804-5.602 6-5.602m0-2c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"
            />
          </svg>
          <input
            type="text"
            class="search-input form-control fs-4 ps-5"
            placeholder="Search location..."
            id="location-search2"
          />
          <span class="fw-bolder fs-5 arrow"
            ><i class="fa-solid fa-angle-up"></i
          ></span>
        </div>
        <ul class="options2">
          <li data-value="London" class="d-flex justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
            >
              <path
                class="px-5"
                d="M12 2c3.196 0 6 2.618 6 5.602 0 3.093-2.493 7.132-6 12.661-3.507-5.529-6-9.568-6-12.661 0-2.984 2.804-5.602 6-5.602m0-2c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"
                style="fill: red"
              />
            </svg>
            London
          </li>
          <li data-value="Boston" class="d-flex justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
            >
              <path
                d="M12 2c3.196 0 6 2.618 6 5.602 0 3.093-2.493 7.132-6 12.661-3.507-5.529-6-9.568-6-12.661 0-2.984 2.804-5.602 6-5.602m0-2c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"
                style="fill: red"
              />
            </svg>
            Boston
          </li>
          <li data-value="Mumbai" class="d-flex justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
            >
              <path
                d="M12 2c3.196 0 6 2.618 6 5.602 0 3.093-2.493 7.132-6 12.661-3.507-5.529-6-9.568-6-12.661 0-2.984 2.804-5.602 6-5.602m0-2c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"
                style="fill: red"
              />
            </svg>
            Mumbai
          </li>
          <li
            data-value="New York"
            class="d-flex justify-content-between"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
            >
              <path
                d="M12 2c3.196 0 6 2.618 6 5.602 0 3.093-2.493 7.132-6 12.661-3.507-5.529-6-9.568-6-12.661 0-2.984 2.804-5.602 6-5.602m0-2c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"
                style="fill: red"
              />
            </svg>
            New York
          </li>
          <li data-value="Toronto" class="d-flex justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
            >
              <path
                d="M12 2c3.196 0 6 2.618 6 5.602 0 3.093-2.493 7.132-6 12.661-3.507-5.529-6-9.568-6-12.661 0-2.984 2.804-5.602 6-5.602m0-2c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"
                style="fill: red"
              />
            </svg>
            Toronto
          </li>
          <li data-value="Paris" class="d-flex justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
            >
              <path
                d="M12 2c3.196 0 6 2.618 6 5.602 0 3.093-2.493 7.132-6 12.661-3.507-5.529-6-9.568-6-12.661 0-2.984 2.804-5.602 6-5.602m0-2c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"
                style="fill: red"
              />
            </svg>
            Paris
          </li>
          <!-- Add more location options if needed -->
        </ul>
      </div>
    </div>
    <a href="#" class="text-decoration-none text-dark fw-bold font_size"
      >Egypt</a
    >
    <a href="#" class="text-decoration-none font_size">Cairo</a>
    <a href="#" class="text-decoration-none font_size">Giza</a>
    <a href="#" class="text-decoration-none font_size">Alexandria</a>
    <a href="#" class="text-decoration-none font_size">Damietta</a>
    <a href="#" class="text-decoration-none font_size">Dakahlia</a>
    <a href="#" class="text-decoration-none ms-5">View more</a>
  </div>
  <div class="d-flex flex-column border-bottom">
    <div href="#" class="fw-bold">BRAND</div>
    <a href="#" class="text-decoration-none font_size"
      ><img src="./images/alfa-romeo.png" class="col-1 me-1" alt="" />
      Alfa Romeo</a
    >
    <a href="#" class="text-decoration-none font_size"
      ><img
        src="./images/aston-martin.png"
        class="col-1 me-1"
        alt=""
      />Aston Martin</a
    >
    <a href="#" class="text-decoration-none font_size"
      ><img src="./images/audi.png" class="col-1 me-1" alt="" />Audi</a
    >
    <a href="#" class="text-decoration-none font_size"
      ><img src="./images/baic.png" class="col-1 me-1" alt="" />Baic</a
    >
    <a href="#" class="text-decoration-none font_size"
      ><img
        src="./images/bentley.png"
        class="col-1 me-1"
        alt=""
      />Bentley</a
    >
    <a href="#" class="text-decoration-none ms-5">View more</a>
  </div>
  <div class="d-flex flex-column border-bottom">
    <div href="#" class="fw-bold">AD TYPE</div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">For Sale</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Wanted Item</label>
    </div>
  </div>
  <div class="d-flex flex-column border-bottom">
    <div href="#" class="fw-bold">FUEL TYPE</div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Benzine</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Diesel</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Electric</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Hybrid</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Natural Gas</label>
    </div>
  </div>
  <div class="d-flex flex-column border-bottom">
    <div href="#" class="fw-bold">PRICE</div>
    <div class="row">
      <input
        type="text"
        value="6,000"
        class="col-3 bg-secondary bg-opacity-25 fs-5 border-bottom my-2 border-0"
      />
      <div class="col-1"></div>
      <input
        type="text"
        value="6,000,00"
        class="col-3 bg-secondary bg-opacity-25 fs-5 border-bottom my-2 border-0"
      />
    </div>
  </div>
  <div class="d-flex flex-column border-bottom">
    <div href="#" class="fw-bold">PAYMENT OPTIONS</div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Cash</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Installments</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Exchange</label>
    </div>
  </div>
  <div class="d-flex flex-column border-bottom">
    <div href="#" class="fw-bold">YEAR</div>
    <div class="row">
      <input
        type="text"
        value="1900"
        class="col-3 bg-secondary bg-opacity-25 fs-5 border-bottom my-2 border-0"
      />
      <div class="col-1"></div>
      <input
        type="text"
        value="2023"
        class="col-3 bg-secondary bg-opacity-25 fs-5 border-bottom my-2 border-0"
      />
    </div>
  </div>
  <div class="d-flex flex-column border-bottom">
    <div href="#" class="fw-bold">KILOMETERS</div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">0 to 9999</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for=""> 100000 to 119999</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">10000 to 19999</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">More than 200000</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">120000 to 139999</label>
    </div>
    <a href="#" class="text-decoration-none ms-5">View more</a>
  </div>
  <div class="d-flex flex-column border-bottom">
    <div href="#" class="fw-bold">TRANSMISSION TYPE</div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Automatic</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Manual</label>
    </div>
  </div>
  <div class="d-flex flex-column border-bottom">
    <div href="#" class="fw-bold">CONDITION</div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Used</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">New</label>
    </div>
  </div>
  <div class="d-flex flex-column border-bottom">
    <div href="#" class="fw-bold">COLOR</div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Black</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">White</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Gray</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Blue- Navy Blue</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Silver</label>
    </div>

    <a href="#" class="text-decoration-none ms-5">View more</a>
  </div>
  <div class="d-flex flex-column border-bottom">
    <div href="#" class="fw-bold">BODY TYPE</div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Sedan</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">SUV</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Hatchback</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">4X4</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Coupe</label>
    </div>
    <a href="#" class="text-decoration-none ms-5">View more</a>
  </div>
  <div class="d-flex flex-column border-bottom">
    <div href="#" class="fw-bold">ENGINE CAPACITY (CC)</div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">1600</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">1400 - 1500</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">1800 - 2000</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">1000 - 1300</label>
      <div>
        <input type="checkbox" class="form-check-input" />
        <label for="">More than 3000</label>
      </div>
    </div>
    <a href="#" class="text-decoration-none ms-5">View more</a>
  </div>
  <div class="d-flex flex-column border-bottom">
    <div href="#" class="fw-bold">EXTRA FEATURES</div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Air Conditioning</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">AM/FM Radio</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Power Windows</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Power Locks</label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label for="">Bluetooth System</label>
    </div>
    <a href="#" class="text-decoration-none ms-5">View more</a>
  </div>
  <div class="border-bottom">
    <div href="#" class="fw-bold">VIDEO</div>
    <input type="checkbox" class="form-check-input" />
    <label for="">Not Available</label>
  </div>
  <div class="border-bottom">
    <div href="#" class="fw-bold">VIRTUAL TOUR</div>
    <input type="checkbox" class="form-check-input" />
    <label for="">Not Available</label>
  </div>