<div class="me-3 side">
    <p class="item p-1 fs-5">All Categories</p>
    <p class="item p-1 fs-5">Vehicles</p>
    <p class="item p-1 fs-5">Headphones</p>
    <p class="item p-1 fs-5">Mobile & Tablet</p>
    <p class="item p-1 fs-5">Fashion</p>
    <p class="item p-1 fs-5">Electronics</p>
    <p class="item p-1 fs-5">More Categories</p>
    <hr>
    <label class="item p-1 fs-5 pe-3" for="rate">Rating</label>
    <select name="rate" id="rate" style="width: 70%;">
        <option value="5">Select the rate</option>
        <option value="5">5 Stars</option>
        <option value="5">4 Stars & Up</option>
        <option value="5">3 Stars & Up</option>
        <option value="5">2 Stars & Up</option>
        <option value="5">1 Stars & Up</option>
    </select> 

</div>
<!-- <div class="col-3">
    <div id="logo">
      <img [src]="store.logo" alt="logo" width="30px" class="me-2">
      <span class="fs-5">Welcome {{client}}</span>
    </div>

  <h6 class="text-primary">Date : {{date | date:'MMM dd, yyyy'}}</h6>
    <h6 class="text-primary">Card Number: {{card | formateCardNumber}}</h6>
    <hr>
    <div class="fs-5">Filter by:</div>
    <select name="Category" class="px-2 my-2 fs-5" [(ngModel)]="PServices.listFilter">
      <option disabled selected>Select Category</option>
      <option value="All Categories">All Categories</option>
      <option value="Vehicles">Vehicles</option>
      <option value="Headphones">Headphones</option>
      <option value="Mobile & Tablet">Mobile & Tablet</option>
      <option value="Fashion">Fashion</option>
      <option value="Electronics">Electronics</option>
    </select>
    <h4 class="fs-5">Filter Value: {{filtername}} </h4>
    <hr>
    <div class="fs-5">Search by Name:</div>
    <input type="text" class="px-2 my-2 fs-5" #proName (input)="PServices.performFilterByName(proName.value)" >
    <h4 class="fs-5">Filter Value: {{filtername2}} </h4>
    <hr>
    <div class="fs-5">Filter by Price:</div>
    <div class="d-flex justify-content-between align-items-center mb-2">
        <div>
          <span class="pe-1 fs-5">Min</span>
          <input type="number" class="input-min" #min value="500">
        </div>
        <div class="fs-4">-</div>
        <div>
          <span class="pe-1 fs-5">Max</span>
          <input type="number" class="input-max" #max value="5000000">
        </div>
      </div> 
      <button class="btn btn-primary" (click)="PServices.performFilterByPrice(min.value, max.value)">Apply</button>
  </div> -->