$background-color_1: #39c;

/* ////////////////////////////////////////////////////////////////////////////////// */
.item {
	&:hover {
		cursor: pointer;
		color:white;
		background-color: $background-color_1;
	}
}

