    <form class="card p-4 m-3 shadow p-3 bg-body-tertiary rounded mb-5" style="width: 700px;" (ngSubmit)="signIn()" [formGroup]="userForm">
        <div class="form-group m-3">
            <input type="email" class="form-control shadow-sm rounded" name="Email" placeholder="Enter your Email" required formControlName="email"
            [ngClass]="{'is-invalid':(email?.touched||email?.dirty)&&email?.invalid}"/>
            <span class="invalid-feedback">
              <span *ngIf="email?.errors?.['required']">Please enter your email</span>
            </span>
        </div>
        <div class="form-group m-3">
            <input type="password" class="form-control shadow-sm rounded" name="Password" placeholder="Enter your Mobile Number" formControlName="mobileNumber"
            [ngClass]="{'is-invalid':(mobileNumber?.touched||mobileNumber?.dirty)&&mobileNumber?.invalid}"/>
            <span class="invalid-feedback">
              <span *ngIf="mobileNumber?.errors?.['required']">Please enter your Mobile Number</span>
            </span>
          </div>    
        <div class="text-center my-2">
        <button type="submit" class="btn btn-primary shadow rounded" style="width:150px;">Log In</button>
        <button class="btn btn-primary shadow rounded ms-2" style="width:150px;" routerLink="/admin/login">Log In As Admin</button>
        </div>

      </form>