<div class="container mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-3 py-4">
        <div class="text-center">
          <img
            src="../../../assets/images/user.jfif"
            width="100"
            class="rounded-circle"
          />
        </div>

        <div class="text-center mt-3">
          <h5 class="mt-2 mb-0">Welcome Dear User</h5>
          <div class="px-4 mt-1">
            <p class="fonts">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, nihil doloribus commodi atque non distinctio at et, quas mollitia animi tempore saepe a aperiam sapiente perferendis odit reprehenderit cupiditate fugiat!
            </p>
          </div>
          <div class="buttons">
            <button class="btn btn-outline-primary px-4">Message</button>
            <button class="btn btn-primary px-4 ms-3">Contact</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
